<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Create a Contact' : 'Edit a Contact'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Create a Contact:' : 'Edit a Contact:'" />
<a th:href="@{/admin}">Back to Users List</a>
<br/><br/>
<form th:action="${add} ? @{/admin/add} : @{/admin/edit/{userId}(userId=${user.id})}"
      th:object="${user}" method="POST">
    <label>User name:</label>
    <input type="text" th:field="*{username}" />
    <label>Password:</label>
    <input type="text" th:field="*{password}" /><br>
    <input type="hidden" name="id" value="${user.id}">
    <label >Roles:</label>

    <input type="hidden" th:name="checkedRoles" th:value="1"/>
    <div th:each="role : ${roles}">
    <label th:for="role+${role.id}" th:text="${role.role}"></label>
    <input type="checkbox" th:name="checkedRoles"  th:id="role+${role.id}"  th:value="${role.role}" th:checked="${user.roles.contains(role)}" >
    </div>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>



<br/>

<!-- Check if errorMessage is not null and not empty

<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />-->

</body>

</html>