<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>
<div>
    <nobr>
        <a th:href="@{/admin/add}">Add user</a> |
        <a th:href="@{/logout}">logout</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table border="1" width="90%">
        <tr>
            <th>Id</th>
            <th>User name</th>
            <th>Password</th>
            <th>Roles</th>
            <th colspan="2">Action</th>
        </tr>
        <tr th:each ="user : ${users}">

            <td th:utext="${user.id}"></td>

            <td th:utext="${user.username}"></td>

            <td th:utext="${user.password}">...</td>
            <td th:utext="${user.roles}">

            </td>

            <td><a th:href="@{/admin/edit/{userId}(userId=${user.id})}">Edit</a></td>
            <td><a th:href="@{/admin/delete/{userId}(userId=${user.id})}">Delete</a></td>
        </tr>

    </table>

</div>

<br/><br/>


</body>

</html>